# Toolbars
style "murrine-toolbar" = "murrine-thin" {
    bg[NORMAL] = @toolbar_bg_color
    bg[PRELIGHT] = shade (1.02, @toolbar_bg_color)
    bg[SELECTED] = @selected_bg_color
    bg[ACTIVE] = shade (0.9, @toolbar_bg_color)
    bg[INSENSITIVE] = @toolbar_bg_color

    fg[NORMAL] = @toolbar_fg_color
    fg[PRELIGHT] = @toolbar_fg_color
    fg[SELECTED] = @selected_fg_color
    fg[ACTIVE] = @toolbar_fg_color
    fg[INSENSITIVE] = mix (0.5, @toolbar_bg_color, @toolbar_fg_color)

    engine "murrine" {
    }
}

style "murrine-toolbutton" = "murrine-button" {
    bg[NORMAL] = shade (1.08, @toolbar_bg_color)
    bg[PRELIGHT] = shade (1.10, @toolbar_bg_color)
    bg[SELECTED] = @selected_bg_color
    bg[ACTIVE] = shade (0.95, @toolbar_bg_color)
    bg[INSENSITIVE] = shade (0.85, @toolbar_bg_color)

    fg[NORMAL] = @toolbar_fg_color
    fg[PRELIGHT] = @toolbar_fg_color
    fg[SELECTED] = @selected_fg_color
    fg[ACTIVE] = @toolbar_fg_color
    fg[INSENSITIVE] = mix (0.5, @toolbar_bg_color, @toolbar_fg_color)

    engine "murrine" {
    }
}

class "GtkToolbar" style "murrine-toolbar"
class "GtkHandleBox" style "murrine-toolbar"
widget_class "*Toolbar*.*Separator*" style "murrine-toolbar"
