XfceHeading {
    background-color: @theme_bg_color;
    padding: 0;
    border-width: 0;
}

.xfce4-panel {
    background-color: transparent;
}

.xfce4-panel .button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    color: @panel_fg_color;
}

.xfce4-panel .button:active {
    border-color: mix(@menubar_bg_color, @menubar_fg_color, 0.21);
    background-color: mix(@menubar_bg_color, @menubar_fg_color, 0.21);
    color: shade(@menubar_fg_color, 1.08);
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    border-color: mix(@menubar_bg_color, @menubar_fg_color, 0.21);
    background-color: transparent;
    color: shade(@menubar_fg_color, 1.08);
}

.xfce4-panel .context-menu {
    font: initial;
}

/* menu-styling, e.g. for indicators */

.xfce4-panel .menu,
.xfce4-panel .menu GtkLabel,
.xfce4-panel .menu GtkImage {
    font: initial;
}

.xfce4-panel .menu *:hover {
    border-color: shade(@selected_bg_color, 1.2);
    background-color: @selected_bg_color;
}

.xfce4-panel .menu GtkLabel:hover,
.xfce4-panel .menu GtkImage:hover {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}
